[submodule "modules/mobile"]
	path = modules/mobile
	url = https://github.com/Ales-Kutek/hackathon-spsek-mobile
[submodule "modules/web"]
	path = modules/web
	url = https://github.com/Ales-Kutek/hackathon-spsek-web
[submodule "modules/point"]
	path = modules/point
	url = https://github.com/Ales-Kutek/hackathon-spsek-point.git
